@model IEnumerable<MvcEshop.Models.Receipt>

@{
    ViewBag.Title = Resources.DisplayNames.List + " " + Resources.DisplayNames.Receipts;
    ViewBag.LayoutType = "Grid";
}

@*@if (ViewBag.SuccessMessage != null)
    {
        <div class="alert alert-success" style="font-weight:bold;">
            @ViewBag.SuccessMessage
        </div>
    }

    @if (ViewBag.SubmisionFailureMessage != null)
    {
        <div class="alert alert-danger" style="font-weight:bold;">
            @ViewBag.SubmisionFailureMessage
        </div>
    }*@


<div class="k-rtl">

    @*check if the current role of the user is "Instructor".*@

    @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
                      columns.Bound(model => model.DisplayCreateDate).Title(Resources.DisplayNames.CreateDate).Width(60);
                      columns.Bound(model => model.DisplayPaymentDate).Title(Resources.DisplayNames.PaymentDate).Width(80);
                      columns.Bound(model => model.PaidAmountInRial).Title(Resources.DisplayNames.PaidAmountInRial).Width(80);
                      columns.Bound(model => model.AllocatedVolume).Title(Resources.DisplayNames.AllocatedVolume).Width(100);
                      columns.Bound(model => model.DisplayExpirationDate).Title(Resources.DisplayNames.ExpirationDateForVolumeUse).Width(60);

                      columns.Bound(item => @item.ImageFile).Width(50).Title(Resources.DisplayNames.Download + " " + Resources.DisplayNames.ReceiptImageFile).Filterable(false).Groupable(false)
                                    .Template(@<text>

                            @if (@item.ImageFile != null)
                            {
                                <a href="/Assignment/Download?fileNameInServer=@item.ImageFile.FileNameInServer">
                                    <img src="~/Content/Files/Icons/Button-Download-icon.png" />
                                </a>
                            }
                            else
                            {
                                @Resources.DisplayNames.WithoutReceipt
                            }


                                    </text>);

                  columns.Bound(item => @item.ReceiptId).Title(Resources.DisplayNames.Edit).Filterable(false).Groupable(false)
                                                       .Template(@<text>

                        @*the link redirects user to action "EditOffLinePaymentReceipt"*@
                        @if (@item.ReceiptTypeId == 2)
                        {
                            <a href="/Receipt/EditOffLinePaymentReceipt/@item.ReceiptId">
                                <img src="~/Content/Files/Icons/edit-file-icon.png" />
                            </a>

                        }
                        
                        @*the link redirects user to action "EditFreeCreditReceipt"*@
                        @if (@item.ReceiptTypeId == 4)
                        {
                            <a href="/Receipt/EditFreeCreditReceipt/@item.ReceiptId">
                                <img src="~/Content/Files/Icons/edit-file-icon.png" />
                            </a>
                        }
               
                                                    </text>).Width(40);
         
                      columns.Bound(item => @item.ReceiptId).Title(Resources.DisplayNames.Delete).Filterable(false).Groupable(false)
                                                       .Template(@<text>
                            <a href="/Receipt/Delete/@item.ReceiptId">
                                <img src="~/Content/Files/Icons/Trash-empty-icon.png" />
                            </a>
                                                    </text>).Width(40);


                  })
                                                                                                                                    .ToolBar(toolbar =>
                                                                                                                                                {

                                                                                                                                                    toolbar.Template(@<text> <a href="/Receipt/Create" class="btn btn-primary KendoGridToolbarButton" role="button">
                                                                                                                                                            <span class="glyphicon glyphicon-plus KendoGridToolbarButtonIcon"></span>
                                                                                                                                                            @Resources.DisplayNames.Add
                                                                                                                                                        </a></text>);
                                                                                                                                                }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            )
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .Groupable()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .Pageable()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .Sortable()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .Scrollable()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .Filterable()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .DataSource(dataSource => dataSource
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        .Server()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        .Model(model => model.Id(item => item.AccountId))
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        )
    )



</div>