@using Infrastructure

@model Models.Cms.Page

@section headSection
{
	@Html.Partial(MVC.Shared.Views._Partial_TinyMce)
}

@{
	string strTitle =
		string.Format("{0} {1}",
		Resources.Actions.Edit,
		Models.Resources.Cms.Page.EntityName);

	ViewBag.Title = strTitle;
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="panel panel-primary">
		<div class="panel-heading">
			@strTitle
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				@Html.ValidationSummary(excludePropertyErrors: true)

				@Html.HiddenFor(model => model.Id)

				@if ((Infrastructure.Sessions.AuthenticatedUser.Role == Models.Enums.Roles.Programmer) ||
					((Infrastructure.Sessions.AuthenticatedUser.Role != Models.Enums.Roles.Programmer) && (Model.IsSystem == false)))
				{
					<div class="form-group">
						@Html.LabelFor(model => model.Name, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.Name)
						</div>
					</div>
				}
				else
				{
					@Html.HiddenFor(model => model.Name)

					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.Name)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.Name)
						</dd>
					</dl>
				}

				<div class="form-group">
					@Html.LabelFor(model => model.Title, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.Title, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Title)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.LayoutId, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.DropDownListFor(model => model.LayoutId,
						null, Resources.Captions.SelectAnItem, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.LayoutId)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.PageContent.Content, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextAreaFor(model => model.PageContent.Content, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.PageContent.Content)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Ordering, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.Ordering, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Ordering)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.IsActive, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.CheckBoxFor(model => model.IsActive, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.IsActive)
					</div>
				</div>

				@if (Infrastructure.Sessions.AuthenticatedUser.Role == Models.Enums.Roles.Programmer)
				{
					<div class="form-group">
						@Html.LabelFor(model => model.IsSystem, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.CheckBoxFor(model => model.IsSystem, new { @class = "form-control" })
							@Html.ValidationMessageFor(model => model.IsSystem)
						</div>
					</div>
				}
				else
				{
					@Html.HiddenFor(model => model.IsSystem)

					<dl class="dl-horizontal">
						<dt>
							@Html.DisplayNameFor(model => model.IsSystem)
						</dt>

						<dd>
							@Html.DisplayFor(model => model.IsSystem)
						</dd>
					</dl>
				}

				<div class="form-group">
					@Html.LabelFor(model => model.IsVerified, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.CheckBoxFor(model => model.IsVerified, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.IsVerified)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.IsDeleted, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.CheckBoxFor(model => model.IsDeleted, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.IsDeleted)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.AccessTypeId, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.DropDownListFor(model => model.AccessTypeId,
						null, Resources.Captions.SelectAnItem, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.AccessTypeId)
					</div>
				</div>

				@*<div class="form-group">
						@Html.LabelFor(model => model.StartPublishingDateTime, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.StartPublishingDateTime)
							@Html.ValidationMessageFor(model => model.StartPublishingDateTime)
						</div>
					</div>

					<div class="form-group">
						@Html.LabelFor(model => model.FinishPublishingDateTime, new { @class = "control-label col-md-2" })
						<div class="col-md-10">
							@Html.EditorFor(model => model.FinishPublishingDateTime)
							@Html.ValidationMessageFor(model => model.FinishPublishingDateTime)
						</div>
					</div>*@

				<div class="form-group">
					@Html.LabelFor(model => model.Description, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.Description, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Description)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Tags, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.Tags, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Tags)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Keywords, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.Keywords, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Keywords)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.DoesSearchEnginesIndexIt, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.CheckBoxFor(model => model.DoesSearchEnginesIndexIt, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.DoesSearchEnginesIndexIt)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.DoesSearchEnginesFollowIt, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.CheckBoxFor(model => model.DoesSearchEnginesFollowIt, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.DoesSearchEnginesFollowIt)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Author, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.Author, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Author)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Classification, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.Classification, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Classification)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Copyright, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.Copyright, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Copyright)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Hits, new { @class = "control-label col-md-2" })
					<div class="col-md-10">
						@Html.TextBoxFor(model => model.Hits, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.Hits)
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-10 col-md-offset-2">
						@Html.Submit(Resources.Buttons.Save)
						@Html.Reset(Resources.Buttons.Reset)
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
			@Html.ActionLink(Resources.Actions.Details,
				MVC.Cms.Page.Details(Model.Id),
				new Dictionary<string, object> { { "class", Infrastructure.HtmlHelpers.ActionLinkClassValue } })

			@Html.ActionLink(Resources.Actions.Delete,
				MVC.Cms.Page.Delete(Model.Id),
				new Dictionary<string, object> { { "class", Infrastructure.HtmlHelpers.ActionLinkClassValue } })

			@Html.ActionLink(Resources.Actions.BackToList,
				MVC.Cms.Page.Index(),
				new Dictionary<string, object> { { "class", Infrastructure.HtmlHelpers.ActionLinkClassValue } })
		</div>
	</div>
}
