@using Infrastructure

@model Models.ProjectAction

@{
	string strTitle =
		string.Format("{0} {1} - {2}",
		Resources.Actions.Delete,
		Models.Resources.ProjectAction.EntityName,
		Model.ProjectController.DisplayName);

	ViewBag.Title = strTitle;
}

<div class="panel panel-primary">
	<div class="panel-heading">
		@strTitle
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
			@if (Infrastructure.Sessions.AuthenticatedUser.Role == Models.Enums.Roles.Programmer)
			{
				<dt>
					@Html.DisplayNameFor(model => model.IsVisibleJustForProgrammer)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.IsVisibleJustForProgrammer)
				</dd>

				<dt>
					@Html.DisplayNameFor(model => model.Name)
				</dt>

				<dd>
					@Html.DisplayFor(model => model.Name)
				</dd>
			}

			<dt>
				@Html.DisplayNameFor(model => model.DisplayName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.DisplayName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.AccessType)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.AccessType.Name)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>

			<dd>
				@Html.Raw(Model.Description)
			</dd>
		</dl>

		@Html.Partial(MVC.Shared.Views._Partial_DisplayEntityDetails, Model)

		@using (Html.BeginForm())
		{
			@Html.AntiForgeryToken()
			@Html.ValidationSummary(excludePropertyErrors: true)

			<div class="form-actions no-color">
				@Html.Submit(Resources.Buttons.Delete)
			</div>
		}
	</div>
	<div class="panel-footer">
		@Html.ActionLink(Resources.Actions.Details,
		MVC.Administrator.ProjectAction.Details(Model.Id),
		new Dictionary<string, object> { { "class", Infrastructure.HtmlHelpers.ActionLinkClassValue } })

		@Html.ActionLink(Resources.Actions.Edit,
		MVC.Administrator.ProjectAction.Edit(Model.Id),
		new Dictionary<string, object> { { "class", Infrastructure.HtmlHelpers.ActionLinkClassValue } })

		@Html.ActionLink(Resources.Actions.BackToList,
		MVC.Administrator.ProjectAction.Index(Model.ProjectControllerId),
		new Dictionary<string, object> { { "class", Infrastructure.HtmlHelpers.ActionLinkClassValue } })
	</div>
</div>
