
@{
    ViewBag.Title = Resources.DisplayNames.CreateProfile;
    ViewBag.LayoutType = "DataEntryForm";
}


<div class="alert alert-info" style="font-weight:bold">
    کاربر گرامی
    <br />
    برای @Resources.DisplayNames.CreateProfile، با توجه به نقش خود روی یکی از پیوند های زیر کلیک کنید.
    <br />
    <br />
    @Html.ActionLink(@Resources.DisplayNames.Instructor, MVC.User.CreateInstructorProfile(), new {@class="btn btn-primary btn-xs" })
    @Html.ActionLink(@Resources.DisplayNames.Student, MVC.User.CreateStudentProfile(), new { @class = "btn btn-success btn-xs" })
</div>

<script type="text/javascript">
            $(document).ready(function () {

                $("#lnkCreateProfile").addClass("selected");

            });


</script>