@model MvcEshop.ViewModels.Assignment.PaymentConfirmationViewModel

@{ Layout = null;}

<h2>Payment</h2>

<div>
    <h4>Pay</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SysId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SysId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Username)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Amount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Amount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FactorNum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FactorNum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Fp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Fp)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Back to Home", "Index")
</p>

<form action="http://Payment.irandoc.ac.ir/Payment/PaymentAction" method="post">
    @Html.HiddenFor(p => p.SysId)
    @Html.HiddenFor(p => p.Username)
    @Html.HiddenFor(p => p.Email)
    @Html.HiddenFor(p => p.Amount)
    @Html.HiddenFor(p => p.Fp)
    @Html.HiddenFor(p => p.TimeStamp)
    @Html.HiddenFor(p => p.FactorNum)
    <br />

    <input type="submit" value=" Submit " />
</form>
