@using Infrastructure

@model Models.MailSettings

@{
	string strTitle =
		string.Format("{0} {1}",
		Resources.Actions.Details,
		Models.Resources.MailSettings.EntityName);

	ViewBag.Title = strTitle;
}

<div class="panel panel-primary">
	<div class="panel-heading">
		@strTitle
	</div>
	<div class="panel-body">
		<dl class="dl-horizontal">
			<dt>
				@Html.DisplayNameFor(model => model.IsActive)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.IsActive)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Ordering)
			</dt>

			<dd>
				@Dtx.Text.Convert.DisplayFormattedNumber(Model.Ordering)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Name)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.Name)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SenderDisplayName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SenderDisplayName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SenderEmailAddress)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SenderEmailAddress)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SenderEmailPassword)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SenderEmailPassword)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SupportDisplayName)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SupportDisplayName)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SupportEmailAddress)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SupportEmailAddress)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.EmailSubjectTemplate)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.EmailSubjectTemplate)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SmtpClientPortNumber)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SmtpClientPortNumber)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SmtpClientTimeout)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SmtpClientTimeout)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SmtpClientEnableSsl)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SmtpClientEnableSsl)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.SmtpClientHostAddress)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.SmtpClientHostAddress)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.BccAddresses)
			</dt>

			<dd>
				@Html.DisplayFor(model => model.BccAddresses)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.InsertDateTime)
			</dt>

			<dd>
				@Html.DisplayDateTime(Model.InsertDateTime, displayTime: true)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.UpdateDateTime)
			</dt>

			<dd>
				@Html.DisplayDateTime(Model.UpdateDateTime, displayTime: true)
			</dd>

			<dt>
				@Html.DisplayNameFor(model => model.Description)
			</dt>

			<dd>
				@Html.Raw(Model.Description)
			</dd>
		</dl>
	</div>
	<div class="panel-footer">
		@Html.ActionLink(Resources.Actions.Edit,
			MVC.Administrator.MailSettings.Edit(Model.Id),
			new Dictionary<string, object> { { "class", Infrastructure.HtmlHelpers.ActionLinkClassValue } })

		@Html.ActionLink(Resources.Actions.Delete,
			MVC.Administrator.MailSettings.Delete(Model.Id),
			new Dictionary<string, object> { { "class", Infrastructure.HtmlHelpers.ActionLinkClassValue } })

		@Html.ActionLink(Resources.Actions.BackToList,
			MVC.Administrator.MailSettings.Index(),
			new Dictionary<string, object> { { "class", Infrastructure.HtmlHelpers.ActionLinkClassValue } })
	</div>
</div>
