@using Infrastructure

@model ViewModels.Areas.Administrator.Programmer.BackupDatabaseViewModel

@{
	string strTitle =
		Resources.Actions.BackupDatabase;

	ViewBag.Title = strTitle;
}

@using (Html.BeginForm())
{
	@Html.AntiForgeryToken()

	<div class="panel panel-primary">
		<div class="panel-heading">
			@strTitle
		</div>
		<div class="panel-body">
			<div class="form-horizontal">
				@Html.ValidationSummary(excludePropertyErrors: true)

				<div class="form-group">
					@Html.LabelFor(model => model.FileName, new { @class = "control-label col-md-4" })
					<div class="col-md-8">
						@Html.TextBoxFor(model => model.FileName, new { @class = "form-control ltr" })
						@Html.ValidationMessageFor(model => model.FileName)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.NAME, new { @class = "control-label col-md-4" })
					<div class="col-md-8">
						@Html.TextBoxFor(model => model.NAME, new { @class = "form-control ltr" })
						@Html.ValidationMessageFor(model => model.NAME)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.MEDIANAME, new { @class = "control-label col-md-4" })
					<div class="col-md-8">
						@Html.TextBoxFor(model => model.MEDIANAME, new { @class = "form-control ltr" })
						@Html.ValidationMessageFor(model => model.MEDIANAME)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.MEDIADESCRIPTION, new { @class = "control-label col-md-4" })
					<div class="col-md-8">
						@Html.TextBoxFor(model => model.MEDIADESCRIPTION, new { @class = "form-control ltr" })
						@Html.ValidationMessageFor(model => model.MEDIADESCRIPTION)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.INIT, new { @class = "control-label col-md-4" })
					<div class="col-md-8">
						@Html.CheckBoxFor(model => model.INIT, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.INIT)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.SKIP, new { @class = "control-label col-md-4" })
					<div class="col-md-8">
						@Html.CheckBoxFor(model => model.SKIP, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.SKIP)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.FORMAT, new { @class = "control-label col-md-4" })
					<div class="col-md-8">
						@Html.CheckBoxFor(model => model.FORMAT, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.FORMAT)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.CHECKSUM, new { @class = "control-label col-md-4" })
					<div class="col-md-8">
						@Html.CheckBoxFor(model => model.CHECKSUM, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.CHECKSUM)
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.CONTINUE_AFTER_ERROR, new { @class = "control-label col-md-4" })
					<div class="col-md-8">
						@Html.CheckBoxFor(model => model.CONTINUE_AFTER_ERROR, new { @class = "form-control" })
						@Html.ValidationMessageFor(model => model.CONTINUE_AFTER_ERROR)
					</div>
				</div>

				<div class="form-group">
					<div class="col-md-8 col-md-offset-4">
						@Html.Submit(Resources.Buttons.Create)
						@Html.Reset(Resources.Buttons.Reset)
					</div>
				</div>
			</div>
		</div>
		<div class="panel-footer">
		</div>
	</div>
}

@using (Html.BeginForm(MVC.Administrator.Programmer.Delete()))
{
	@Html.AntiForgeryToken()

	<div class="panel panel-primary">
		<div class="panel-heading">
			@Resources.Captions.DatabaseBackupFiles
		</div>
		<div class="panel-body">
			@{
				string strPath =
					Server.MapPath("~/App_Data_Public/DatabaseBackups");

				System.IO.DirectoryInfo oDirectoryInfo = new DirectoryInfo(strPath);

				var varFiles =
					oDirectoryInfo.GetFiles().OrderByDescending(current => current.CreationTime).ToList();

				<ul>
					@foreach (System.IO.FileInfo oFileInfo in varFiles)
					{
						<li>
							<input type="checkbox" name="chkSelect" value="@oFileInfo.Name" />

							<a href="~/App_Data_Public/DatabaseBackups/@oFileInfo.Name">@oFileInfo.Name</a>

							<ul>
								<li>
									سايز:
									@Dtx.Text.Convert.DisplayFormattedNumber(oFileInfo.Length)
									بايت
								</li>
								<li>
									زمان ايجاد:
									@Html.DisplayDateTime(oFileInfo.CreationTime, displayTime: true)
								</li>
							</ul>
						</li>
					}
				</ul>
			}
		</div>

		@if (varFiles.Count != 0)
		{
			<div class="panel-footer">
				@Html.Submit(Resources.Buttons.Delete)
				@Html.Reset(Resources.Buttons.Reset)
			</div>
		}
	</div>
}
