@model MvcEshop.Models.Contract

@{
    ViewBag.Title = Resources.DisplayNames.Delete+ " " + Resources.DisplayNames.Contract;
    ViewBag.LayoutType = "DataEntryForm";
}


<div class="container">
    <div class="col-md-6">
        <div class="panel panel-danger ">
            <div class="panel-heading">
                <div class="panel-title">
                    <div class="container" style="font-weight:bold;">
                        <span class="glyphicon glyphicon-remove" style="color:red;font-weight:bold; font-size:20px; margin-left:20px;"></span>
                        آیا از حذف این مورد اطمینان دارید؟
                    </div>
                </div>
            </div>
            <div class="panel-body">

                <div class="form-horizontal text-center">
                    <div class="form-group">
                        @Html.LabelFor(model => model.Customer.Name, new { @class = "panelBodyTitles" })
                        :
                        @Html.DisplayFor(model => model.Customer.Name)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayIssueDate, new { @class = "panelBodyTitles" })
                        :
                        @Html.DisplayFor(model => model.DisplayIssueDate)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayStartDate, new { @class = "panelBodyTitles" })
                        :
                        @Html.DisplayFor(model => model.DisplayStartDate)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.DisplayExpirationDate, new { @class = "panelBodyTitles" })
                        :
                        @Html.DisplayFor(model => model.DisplayExpirationDate)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.VolumeInKBytes, new { @class = "panelBodyTitles" })
                        :
                        @Html.DisplayFor(model => model.VolumeInKBytes)
                    </div>
                    <div class="form-group">
                        @Html.LabelFor(model => model.PriceInRials, new { @class = "panelBodyTitles" })
                        :
                        @Html.DisplayFor(model => model.PriceInRials)
                    </div>


                    <div class="form-group">
                        @using (Html.BeginForm())
                        {
                            @Html.AntiForgeryToken()


                            <input type="submit" value="تأیید" class="submit" />
                            @Html.ActionLink("بازگشت به فهرست", MVC.Contract.Index())

                        }
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>



