<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="container">
        <div id="divLogo" class="col-md-1" style="border:1px solid black">this is for logo</div>

        <div class="col-md-5">
            <div class="alert alert-info">
                <strong>کاربر گرامی خوش آمدید!</strong> اگر قبلا در سایت ثبت نام کرده اید روی دکمه <button type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target=".bs-example-modal-xs">ورود</button> و در غیر اینصورت روی  <a href="#" class="btn btn-warning btn-sm" role="button">ثبت نام</a> کلیک کنید.
            </div>
        </div>


        <div class="col-md-6">
            <div class="panel panel-success ">
                <div class="panel-heading">
                    <div class="panel-title">
                        <div class="container" style="font-weight:bold;">
                            <span class="glyphicon glyphicon-search" style="color:orange;font-weight:bold;"></span>
                            جستجوی کالای مورد نظر
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <form class="form-inline" role="form">

                        <div class="form-group">
                            <select class="form-control">
                                <option>همه کالاها</option>
                                <option>ورزشی</option>
                                <option>آرایشی و بهداشتی</option>
                                <option>فرهنگی</option>
                                <option>لوازم خانگی</option>
                            </select>
                        </div>

                        <button class="btn btn-success" type="button">جستجو</button>

                        <div class="form-group">
                            <input type="text" class="form-control" placeholder="متن مرتبط با کالا...">
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="container">
            <div class="modal fade bs-example-modal-xs" tabindex="-1" role="dialog" aria-labelledby="mySmallModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-xs">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                            <div class="modal-title h1" id="myModalLabel">
                                <div><span class="glyphicon glyphicon-user" style="color:orange;font-weight:bold;"></span></div>
                            </div>
                            <div class="modal-body">
                                <div class="panel panel-primary col-md-offset-3 col-md-6 col-md-offset-3 ">
                                    <div class="panel-heading">
                                        <div class="panel-title">
                                            <div class="container" style="font-weight:bold;">
                                                <span class="glyphicon glyphicon-user" style="color:orange;font-weight:bold;"></span>
                                                ورود
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-body">
                                        <form role="form" class="form-horizontal">
                                            <div class="form-group">
                                                <label class="control-label" for="exampleInputEmail1">ایمیل</label>
                                                <input type="email" class="form-control" id="exampleInputEmail1" placeholder="ایمیل را وارد کنید">
                                            </div>
                                            <div class="form-group">
                                                <label class="control-label" for="exampleInputPassword1">رمز عبور</label>

                                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="رمز عبور را وارد کنید">
                                            </div>
                                            <div class="form-group">
                                                <div class="checkbox">
                                                    <label>
                                                        <input type="checkbox"> مرا به خاطر بسپار
                                                    </label>
                                                </div>
                                            </div>


                                            <div class="form-group">

                                                <button type="submit" class="btn btn-primary pull-right" style="margin:5px 5px;">ورود</button>
                                                <button type="button" class="btn btn-danger pull-right" data-dismiss="modal" style="margin:5px 5px;">بستن</button>

                                            </div>

                                        </form>
                                    </div>
                                </div>
                            </div>
                            <div class="modal-footer">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="container">

            <nav class="navbar navbar-primary" role="navigation">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                            <span class="sr-only">Toggle navigation</span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="#"></a>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                        <ul class="nav navbar-nav" id="ulMenuBar">
                            <li class="active">@Html.ActionLink("صفحه نخست", "Index", "Home")</li>
                            <li>@Html.ActionLink("درباره ما", "About", "Home" )</li>
                            <li>@Html.ActionLink("تماس با ما", "Contact", "Home")</li>
                            <li class="dropdown">
                                <a href="#" class="dropdown-toggle" data-toggle="dropdown">گروه محصولات <span class="caret"></span></a>
                                <ul class="dropdown-menu" role="menu">
                                    <li><a href="#">ورزشی</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">آرایشی و بهداشتی</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">فرهنگی</a></li>
                                    <li class="divider"></li>
                                    <li><a href="#">لوازم خانگی</a></li>
                                </ul>
                            </li>
                        </ul>
                        @Html.Partial(MVC.Shared.Views._LoginPartial)


                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>

        <div class="container">
            <div class="list-group col-md-3">
                <a class="list-group-item active" href="#">
                    گروه محصولات
                </a>
                <a class="list-group-item" href="#">
                    <label class="label label-warning pull-left">10</label>
                    ورزشی
                </a>
                <a class="list-group-item" href="#">
                    فرهنگی
                    <label class="label label-warning pull-left">2</label>
                </a>
                <a class="list-group-item" href="#">
                    سیاسی
                    <label class="label label-warning pull-left">000</label>
                </a>
                <a class="list-group-item" href="#">
                    کامپیوتر
                    <label class="label label-warning pull-left">64</label>
                </a>
            </div>
            <div id="divMain" class="col-md-9">
                <div id="divMainContent">
                    
                    @RenderBody();
                </div>
            </div>
        </div>
    </div>
    

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap-rtl")
    @RenderSection("scripts", required: false)

    <script type="text/javascript">
    $(document).ready(function () {

        $('input[type="text"],input[type="password"],textarea,select').addClass("k-textbox form-control");

    });

    </script>
</body>
</html>
