<!DOCTYPE html>
<html>
<head>
    <title>Display Page</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
<h1>Locations</h1>
    <table border="1">
        <tr><th>Name</th><th>Category</th><th>Longitude</th><th>Latitude</th><th></th><th></th></tr>
        <%for(let i=0; i<data.length; i++){%>
            <tr>
                <td><%=data[i].name %></td>
                <td><%=data[i].category%></td>
                <td><%=data[i].longitude%></td>
                <td><%=data[i].latitude%></td>
                <td><a href="display/update/id/<%=data[i].id%>" >Update</a></td>
                <td><a href="display/delete/id/<%=data[i].id%>" >Delete</a></td>

            </tr>
        <%}%>
    </table>
</br>
</br>
    <a href="add">Click Here To Add More Points</a>
</br>
</br>
<a href="nearest">Click Here To Show Nearest Points To Your Current Location</a>

</body>
</html>
