@model IEnumerable<MvcEshop.Models.Customer>

@{

    if (ViewBag.IsForConfirmation == false)
    {
        ViewBag.Title = Resources.DisplayNames.List + " " + Resources.DisplayNames.Customers;
    }

    if (ViewBag.IsForConfirmation == true)
    {
        ViewBag.Title = Resources.DisplayNames.List + " " + Resources.DisplayNames.Customers+Resources.DisplayNames.JunctionLetter + " " + Resources.DisplayNames.Unconfirmed;
    }

    ViewBag.LayoutType = "Grid";

    System.Web.HttpContext.Current.Session["CurrentSiteMap"] = string.Empty;
}

<div class="k-rtl">

    @(Html.Kendo().Grid(Model)
              .Name("Grid")
              .Columns(columns =>
                  {
                      columns.Bound(model => model.Name).Title(Resources.DisplayNames.Customer).Width(190);
                      columns.Bound(model => model.CustomerType.Name).Title(Resources.DisplayNames.CustomerType).Width(190);
                      if (System.Convert.ToInt32
                   (System.Web.HttpContext.Current.Session["RoleId"].ToString()) < 3)
                      {

                          columns.Bound(model => model.Email).Title(Resources.DisplayNames.Email);
                          columns.Bound(model => model.Phone).Title(Resources.DisplayNames.Phone);
                          columns.Bound(model => model.ContactPerson).Title(Resources.DisplayNames.ContactPerson);

                          columns.Bound(item => @item.CustomerId).Title(Resources.DisplayNames.Edit).Filterable(false).Groupable(false)
                                  .Template(@<text>
                                <a href="/Customer/Edit/@item.CustomerId">
                                    <img src="~/Content/Files/Icons/edit-file-icon.png" />
                                </a>
                                </text>).Width(50);

                          if (ViewBag.IsForConfirmation)
                          {
                              columns.Bound(item => @item.CustomerId).Title(Resources.DisplayNames.Confirmation).Filterable(false).Groupable(false)
                                                                     .Template(@<text>
                                    <a href="/Customer/Confirm/@item.CustomerId">
                                        <img src="~/Content/Files/Icons/Accept-icon.png" />
                                    </a>
                                                                    </text>).Width(50);

                              columns.Bound(item => @item.CustomerId).Title(Resources.DisplayNames.Delete).Filterable(false).Groupable(false)
                                                                                           .Template(@<text>
                                    <a href="/Customer/DeleteImmediately/@item.CustomerId">
                                        <img src="~/Content/Files/Icons/Trash-empty-icon.png" />
                                    </a>
                                                                                        </text>).Width(50);

                          }
                          else
                          {

                              columns.Bound(item => @item.CustomerId).Title(Resources.DisplayNames.Delete).Filterable(false).Groupable(false)
                                                    .Template(@<text>
                                    <a href="/Customer/Delete/@item.CustomerId">
                                        <img src="~/Content/Files/Icons/Trash-empty-icon.png" />
                                    </a>
                                                    </text>).Width(50);
                          }
                      }

                    @*columns.Bound(item => @item.CustomerId).Title(Resources.DisplayNames.Send + " " + Resources.DisplayNames.DocFindingReport).Filterable(false).Groupable(false)
                                               .Template(@<text>
                        <input type="submit" value="..." id="@item.CustomerId" class="JsonAction"/>

                                            </text>).Width(50);*@
                  })
                                                                                                        .ToolBar(toolbar =>
                                                                                                                    {
                                                                                                                        toolbar.Template(@<text> <a href="/Customer/Create" class="btn btn-primary KendoGridToolbarButton" role="button">
                                                                                                                                <span class="glyphicon glyphicon-plus KendoGridToolbarButtonIcon"></span>
                                                                                                                                @Resources.DisplayNames.Add
                                                                                                                            </a></text>);
                                                                                                                        //toolbar.Custom().Action("Create", "Customer").Text("افزودن");
                                                                                                                    }
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            )
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .Groupable()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .Pageable()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .Sortable()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .Scrollable()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .Filterable()
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            .DataSource(dataSource => dataSource
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        .Server()

                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        .Model(model => model.Id(item => item.CustomerId))
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        )
    )
</div>
